@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
/****************************************************************/
/* Flatura main CSS file */
/* Compiled from flatura.less */
/****************************************************************/
body {
  margin: 0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1e1912;
  z-index: 10000;
  height: 68px;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}
.header.header-shrink {
  height: 40px;
}
.header.header-shrink .logo {
  position: absolute;
  top: 20%;
  height: 12px;
}
.logo {
  position: absolute;
  top: 32%;
  height: 12px;
}
.banner {
  background-color: #2d251b;
  height: 5000px;
}
