/****************************************************************/
/* Flatura main CSS file */
/* Compiled from flatura.less */
/****************************************************************/


// Compiled in Style.less


////// Table of Contents //////
//  1. Header
//  1.1 Navigation
//  2. Banner
//  3. Basic Info
//  3.1 Services
//  3.2 Article
//  4. Our Latest Products
//  5. Pricing
//  6. Testimonials
//  7. Footer
//  7.1 Get in Touch
//  7.2 Contact Us

// Imports
@import "variables.less";


body {
    margin: 0;
}

// HEADER

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(30,25,18, 0.95);
	z-index: 10000;
	height: 68px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

.header.header-shrink {
	height: 40px;
	.logo {
		position: absolute;
		top: 20%;
		-webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    transition: all 0.3s;
	}
	.nav {
		margin-top: 0;
		-moz-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}
}

.logo {
    position: absolute;
    top: 32%;
    height: 12px;
}

// Navigation

.navigation {
	.nav {
		transition: all 0.3s;
		-moz-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		margin-top: 13px;
		a {
			color: #929291;
			&:hover {
				color: white;
				background: none;
				transition: all 200ms ease;
			}
		}
	}
}

// Banner

#banner {
	color: white;
    background-color: #2d251b;
    height: 800px;
    .container {
        .content {
            margin-top: 140px;
            text-align: center;
            .text {
                div {
                    font-size: 40px;
                }
                span {
                    display: block;
                    font-size: 20px;
                }
                a {
                    font-size: 18px;
                    color: white;
                    &:hover {
                        text-decoration: none;
                        color: white;
                        }
                }
                #buttons {
                    margin-top: 15px;
                }
                .next {
                    border: 3px solid #3d3327;
                    border-radius: 4px;
                    padding: 8px 28px;
                    margin-right: 26px;
                }
                .gtp {
                    border: 3px solid #ff7d13;
                    background-color: #ff7d13;
                    border-radius: 4px;
                    padding: 8px 28px;
                }
            }
            .img {
                margin-top: 70px;
            }
        }
    }
}

// Basic Info - Services

table {
    margin-top: 95px;
    text-align: center;
    tr {
        &:first-child {
        border-bottom: 1px solid #cecece;
        }
        td {
            padding: 45px;
            &:first-child {
                border-right: 1px solid #cecece;
            }
            &:last-child {
                border-left: 1px solid #cecece;
            }
            img {
                margin-bottom: 15px;
            }
            div {
                font-size: 25px;
                margin-bottom: 15px;
            }
            span {
                font-size: 15px;
                font-weight: 300;
            }
        }
    }
}

// Basic Info - Article

#article {
    margin-top: 50px;
    padding-top: 50px;
}

article {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 100px;
    &:last-child {
        margin-bottom: 55px;
    }
    .title {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    .im1 {
        margin-left: 70px;
    }
    .im2 {
        margin-right: 70px;
    }
    a {
        button {
            border: none;
            border-radius: 4px;
            height: 46px;
            width: 208px;
            text-align: center;
            color: white;
            font-size: 18px;
            font-weight: 300;
            i {
                margin-right: 20px;
            }
        }
    }
    #app-store {
        background-color: #4b5d3e;
        margin-right: 30px;
    }
    #google-play {
        background-color: #ff7d13;
        margin-right: 30px;
    }
    #down-now {
        color: #a4a4a4;
        background: none;
        border: 2px solid #a4a4a4;
    }
}

// Portfolio












// Pricing

#prices-plans {
    text-align: center;
    font-size: 30px;
    margin-bottom: 70px;
    padding-top: 45px;
}

.pricing-plans {
    margin: 0 auto;
    display: block;
    width: 1066px;
}

.pricing-table {
    display: inline-block;
    margin-right: 50px;
    width: 320px;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    text-align: center;
    color: #7b7b7b;
    &:last-child {
        margin-right: 0;
    }
    .pricing-header {
        background-color: #e3e3e3;
        padding-bottom: 20px;
        #price {
            font-size: 70px;
            line-height: 70px;
        }
        #subscription-type {
            text-transform: uppercase;
        }
        .sup {
            color: #a4a4a4;
            vertical-align: super;
            font-size: 30px;
        }
    }
    .pricing-body {
        padding: 40px 0;
        line-height: 60px;
        font-weight: 300;
        font-size: 15px;
        .purchase {
            background: none;
            border: 2px solid #a4a4a4;
            border-radius: 4px;
            height: 46px;
            width: 208px;
            color: #7b7b7b;
            text-align: center;
            font-size: 17px;
            font-weight: 300;
            line-height: normal;
        }
    }
}

.featured {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    border: 1px solid #ff7d13;
    .pricing-header {
        background: #ff7d13;
        color: white;
        .sup {
            color: white;
        }
    }
    .pricing-body {
        .purchase {
            border: 2px solid #ff7d13;
            color: #ff7d13;
        }
    }
}

// Testimonials

#testimonials {
    padding-top: 50px;
}

.orange {
    margin-top: 150px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ff7d13;
    .testimonials {
        .nav, .nav-tabs {
            border: none;
            display: table;
            margin: 0 auto;
            margin-bottom: 40px;
            li {
                padding-right: 12px;
                position: relative;
                transition: all 200ms ease;
                bottom: 0;
                background-color: #ff7d13;
                &:last-child {
                    padding-right: 0;
                }
                &.active {
                    bottom: 10px;
                    img {
                        opacity: 1;
                    }
                }
                a {
                    padding: 0;
                    border: none;
                    img {
                        border-radius: 3px;
                        opacity: 0.5;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .tab-content {
            margin: 0 auto;
            width: 600px;
            text-align: center;
            color: white;
            font-weight: 300;
            font-size: 20px;
        }
    }
}

// Footer

.footer {
    background-color: #2d251b;
    img {
        opacity: 0.1;
        margin: 0 auto;
        margin-top: -40px;
    }
    .footer-h {
        font-size: 30px;
        color: white;
        text-align: center;
        height: 70px;
        background-color: #1e1912;
        h2 {
            padding-top: 18px;
            margin-top: 0;
        }
    }
    .container {
        text-align: center;
        position: relative;
        bottom: 53.5em;
        background-color: #1e1912;
    }
}